.buttonContact {
  a {
    color: white;
    box-shadow: 0 0 0 3em #b61984 inset;
    transition: all 300ms ease;

    @include Button(none, 1em, 1em, none, 50px, none);
    &:hover {
      text-decoration: none;
      @include ButtonHover(#b61984, 0 0 0 1px #b61984 inset);
    }
  }
}
.form_Button {
  button {
    color: white;
    box-shadow: 0 0 0 3em #b61984 inset;
    transition: all 300ms ease;
    text-transform: uppercase;
    @include Button(none, 1em, 5em, none, 50px, none);
    &:hover {
      @include ButtonHover(#b61984, 0 0 0 1px #b61984 inset);
    }
  }
}
.footer_Button {
  button {
    box-shadow: 0 0 0 1px #fff inset;
    color: #181818;
    transition: all 300ms ease;
    text-transform: uppercase;
    @include Button(#ffffff, 1em, 5em, none, 50px, none);
    &:hover {
      transform: scale(1);
      background-color: #b61984;
      color: white;
    }
  }
}
